@use "variables";

@media (max-width: 768px) {
    .wp-block-post-content {
        padding-left: var(--wp--style--root--padding-left, 1rem);
        padding-right: var(--wp--style--root--padding-right, 1rem);
    }

    /* Remove padding *only* for alignwide image blocks */
    .wp-block-post-content>.wp-block-image.alignwide {
        margin-left: calc(-1 * var(--wp--style--root--padding-left, 1rem));
        margin-right: calc(-1 * var(--wp--style--root--padding-right, 1rem));
        width: 100vw;
        max-width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .wp-block-post-content>.wp-block-image.alignwide img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.wp-block-post-title {
    text-align: center;
    font-style: italic;

    // Optional: add spacing or responsive sizing tweaks
    margin-bottom: 1rem;
}

.entry-header {
    text-align: center;
}

.wp-block-post-date {
    margin: auto !important;
    margin-top: -10px; // Adjust as needed
    font-size: 0.875rem; // Smaller font size for date
}

.hide {
    display: none !important;
}

.wp-block-group.alignwide,
.wp-block-cover.alignwide,
.wp-block-columns.alignwide,
.wp-block-post-content.alignwide {
    max-width: variables.$size-wide;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-group.alignfull,
.wp-block-cover.alignfull,
.wp-block-columns.alignfull,
.wp-block-post-content.alignfull {
    width: 100vw;
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}